
<%= link_to "about", about_path %>
<%= link_to "Setting", user_profile_path(current_user) %>
<br>
<%= link_to "Sort by last comment time", posts_path(:order_by_time => "time") %>
<%= link_to "Sorted by numbers of comments", posts_path(:order_by_count =>"count") %>
<br>
<%= form_tag posts_path do |f| %>
<%= collection_check_boxes(:post, :category_ids, Category.all, :id, :name) do |box| %>
  <%= box.label(:"data-value" => box.value){box.check_box + box.text} %>
<%end%>
<%= submit_tag "Search" %>
<% end %>
<ul>
  <% @posts.each do |post| %>
    <li>
      <%= post.comments_count %>
      <%= post.title %>
      <%= link_to "Show", post_path(post) %>
      <%= link_to "Edit", edit_post_path(post) %>
      <%= link_to "Delete", post_path(post), :method => :delete, :data => {:confirm => "Are you sure?"} %>
      last comment at <%= post.comments.last.try(:created_at) %>
    </li>
  <% end %>
</ul>
<%= link_to "New post", new_post_path %>
<%= paginate @posts %>