
<%= link_to "about", about_path %>
<%= link_to "Setting", user_profile_path(current_user) %>
<br>
<%= link_to "Sort by last comment time", posts_path(:order_by_time => "time") %>
<%= link_to "Sorted by numbers of comments", posts_path(:order_by_count =>"count") %>
<br>


<p>
<% Category.all.each do |c| %>
  <%= link_to c.name, posts_path( :cid => c.id ) %>
<% end %>

<%= link_to "All", posts_path %>
</p>

<ul>
  <% @posts.each do |post| %>
    <li>
      <%= post.comments_count %>
      <% if post.logo.exists? %>
        <%= image_tag(post.logo.url(:thumb)) %>
      <% else %>
        None
      <% end %>
      <%= post.title %>
      <%= link_to "Show", post_path(post) %>
      <% if post.user %>
        from <%= link_to post.user.profile.name, user_profile_path(post.user) %>
      <% end %>
      <% if post.user == current_user %>
        <%= link_to "Edit", edit_post_path(post) %>
        <%= link_to "Delete", post_path(post), :method => :delete, :data => {:confirm => "Are you sure?"} %>
      <% end %>
      last comment at <%= post.comments.last.try(:created_at) %>
    </li>
  <% end %>
</ul>
<%= link_to "New post", new_post_path %>
<%= paginate @posts %>