<h1><%= @name %> 's profile</h1>
<%= link_to "Edit Profile", edit_user_profile_path(current_user) %>
<p>Name: <%= @name %></p>
<p>Email: <%= @email %></p>
<h2>Post History</h2>
<% @user.posts.each do |p| %>
  <p> Title: <%= p.title %> </p>
  <p> Content: <%= p.content %> </p>
<% end %>
<h2>Comment History</h2>
<% @comments.each do |c| %>
  <p>Content: <%= c.content %></p>
<% end %>
<%= link_to "Go to index", posts_path %>